<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>The Tech Blog | Dashboard</title>
        <link rel="stylesheet" href="/Homework/techblog/public/css/style.css">
    </head>

    <body>
        <nav class="navbar">
            <ul>
              <li class="li-inline nav-item"><a href="/">Home</a></li>
              <li class="li-inline nav-item"><a href="/dashboard">Dashboard</a></li>
              <li class="li-inline nav-item">
                {{#if logged_in}}
                <a href="/profile">Profile</a>
                  <button class="no-button" id="logout">Logout</button>
                  {{else}}
                  <a href="/login">Login</a>
                  {{/if}}</li>                
            </ul>
        </nav>
        <header class="hero">
          <h1>Dashboard</h1>
        </header>
    <main>
      {{{body}}}
    </main>   
   
    <footer>
      <a href="/dashboard/new">New Post</a>
      <p>Copyright © 2023 TechBlogs, All Rights Reserved.</p>
    </footer>
    <script src="/Homework/techblog/public/js/logout.js"></script>
    </body>
</html>