<div class="posts">
    {{#each posts}}
    <article class="card">
        <div class="card-header">
            <h2>
                <a href="/post/{{id}}">{{title}}</a>
            </h2>
            <div class="card">
              Posted by {{this.user.username}} on 5/23/23  
            </div>
        </div>
        <div class="card-body">
            {{body}}
        </div>
    </article>
    {{/each}}
</div>