<div class="post-card">
  <div class="card-header">
    <h2>Login</h2>
  </div>
  <form id="login-form" class="card-body">
    <div>
        <label for="username-input">Username</label>
        <input type="text" id="username-input" />
    </div>
    <div>
        <label for="email-input">Email</label>
        <input type="text" id="email-input" />
    </div>
    <div>
        <label for="password-input">Password</label>
        <input type="text" id="password-input"/>
    </div>
    <button type="submit" class="btn" id="signup-btn">Sign up!</button>
    <a type="button" href="/login">Already have an account? Log in!</a>
  </form>
</div>

<script src="/Homework/techblog/public/js/login.js"></script>