:root {
    --primary: #ccdad1;
    --secondary: #927676;
    --tertiary: #89e2db;
    --light: #fbcece;
    --dark: #1a1a1a;
    --border-radius: 0.3rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    background-color: var(--dark);
    color: var(--light);
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 500;
    color: var(--primary);
}

header {
    margin-top: 40px;
}

main {
    margin: 0 auto;
    max-width: 960px;
    width: 95%;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
    font-size: 1rem;
}

input {
    font-size: 1rem;
    border: solid rgb(0, 0, 0);
    border-radius: var(--border-radius);
    padding: 5px;
}

.navbar {
    background-color: var(--dark);
    position: fixed;
    width: 100%;
}

.nav-item {
    color: var(--light);
    font-size: 1rem;
    margin: 0 5px;
}

.li-inline {
    display: inline;
}

.card {
    border-radius: var(--border-radius);
    background-color: var(--light);
    padding: 10px;
    margin: 0 0 20px 0;
    border: 3px solid (var(--dark));
}

.card-body {
    padding: 2%;
}

.card-header {
    font-size: 1.5rem;
    padding: 1%;
    border-radius: var(--border-radius);
    background-color: var(--light);
}

.card-header h2 {
    font-size: 2rem;
    color: var(--primary);
}

.btn {
    font-size: 1rem;
    padding: 5px;
    border-radius: var(--border-radius);
    border: solid var(--primary);
    color: var(--primary);
    background-color: var(--light);
    display: block;
}

.form-label,
.form-input,
.form-textarea {
    display: block;
    width: 100%;
}

.form-input {
    margin: 5px 0;
    padding: 1%;
    border-radius: var(--border-radius);
    border: solid var(--primary);
    color: var(--primary);
    background-color: var(--light);
}

.form-label {
    font-size: 1rem;
    color: var(--primary);
    margin: 0 0 0 5px;
}